<div class="container-fluid">
  <div class="row">
    <div class="displayBlockMobile" style="width:99.999%;z-index:1">

      <nav class="navbar navbar-expand-lg navbar-dark" style="background:rgb(5, 59, 80)">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <div class="navbar-nav mr-auto mt-2 mt-lg-0">
            <h3 style="color: white; font-weight: bold; font-size: 20px;">Hi {{user.firstName}} {{user.lastName}}</h3>
          </div>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/userdashboard']">Dashboard</a>
            </li>
          </ul>
          <div class="col-md-1">
            <button class="btn btn-primary" (click)="logout()">logout</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>